.About{
    height: 83vh;
    width:90%;
    margin-top:-30px;
    background-attachment: fixed;
    overflow-y:hidden;
    /* background-color: white; */
}

.Container{
    display: flex;
    flex-flow:row;
}

.Heading{
    margin-left: 8%;
    font-weight: bold;
    font-size: 55px;
    color:tomato;
}   

.Para{
    width:55%;
    margin-right:250px;
    display: block;
    display: flex;
    flex-flow:column;
    margin-left: 35px;
    margin-right: 35px;
    color:white;
    font-size:17px;
}

.btn{
    width: 230px;
    height:80px;
    margin-top:20px;
    margin-left:100px;
    color:tomato;
    font-size:25px;
    font-weight:normal;
    border: 1px solid white;
    box-shadow: 2px 3px solid rgba(0,0,0,0.5);
    background: no-repeat;
}

.btn:hover{
    background-color: tomato;
    color:white;
    border:1px solid tomato;
}

.btn:active{
    outline: none;
}

@media(max-width:500px){
    .About{
        height: 2200px;
        overflow-x: hidden;
        width:100%;
    }
    .Container{
        height:2600px;
        flex-flow: column;
        overflow-x: hidden;
    }
    .Heading{
        margin-left:30%;
        font-size:65px;
    }
    .Para{
        font-size:37px;
        display: inline-block;
        margin-left: 4px;
        width:100%;
    }
}