.About{
    height: 80vh;
    width:90%;
    background-attachment: fixed;
    /* background-color: white; */
}

.Container{
    display: flex;
    flex-flow:row;
}

.Heading{
    margin-left: 8%;
    font-weight: bold;
    font-size: 55px;
    color:tomato;
}   

.Para{
    width:55%;
    margin-right:250px;
    display: block;
    display: flex;
    flex-flow:column;
    margin-left: 35px;
    margin-right: 35px;
    color:white;
    font-weight:15px;
}

.btn{
    width: 230px;
    height:80px;
    margin-top:20px;
    margin-left:100px;
    color:tomato;
    font-size:25px;
    font-weight:normal;
    border: 1px solid white;
    box-shadow: 2px 3px solid rgba(0,0,0,0.5);
    background: no-repeat;
}

.btn:hover{
    background-color: tomato;
    color:white;
    border:1px solid tomato;
}

.btn:active{
    outline: none;
}

@media(max-width:500px){
    .Heading{
        margin-left:10%;
        font-size:45px;
    }
    .Para{
        font-size:37px;
    }
}