.App{
  height: 373vh;
  width:100vw;
  background-color:#2f3640;
  margin-top:-15px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media(max-width:800px){
  .App{
    width: 810px;
    height: 1090vh;
  }
}